In [1]:
import json
import urllib
from urllib.request import urlopen
import re

import json 
import pandas as pd 
from pandas.io.json import json_normalize 

import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import pickle as pkl
import joblib
from joblib import dump, load
import pickle
from keras.callbacks import History
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import mean_absolute_error, mean_squared_error, explained_variance_score

In [15]:
df = pd.read_csv("data/processed/current_data.csv", sep = ",", decimal = ".")
df.head()

,pm10,date,temperature_2m,relativehumidity_2m,windspeed_10m
0,21.0,2023-02-22 02:00:00,4.300000,81.000000,2.900000
1,30.0,2023-02-23 10:00:00,8.400000,76.000000,2.200000
2,5.0,2023-03-11 11:00:00,4.668407,77.814621,9.163969
3,42.0,2023-03-07 00:00:00,2.700000,95.000000,8.700000
4,22.0,2023-03-13 18:00:00,4.668407,77.814621,9.163969

In [16]:
df.dtypes

pm10                   float64
date                    object
temperature_2m         float64
relativehumidity_2m    float64
windspeed_10m          float64
dtype: object

In [17]:
n = int(len(df) * 0.1)

In [18]:
test_df = df.head(n)

In [19]:
test_df.to_csv('data/processed/test.csv', index=False)

In [28]:
train_df = df.tail(len(df) - n)

In [29]:
train_df.to_csv('data/processed/train.csv', index=False)

In [32]:
X_train = train_df.drop('pm10', axis=1)
X_train = train_df.drop('date', axis=1)
y_train = train_df['pm10']

In [33]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [35]:
result = model.predict(X_train)

In [36]:
mae = mean_absolute_error(y_train, result)
mse = mean_squared_error(y_train, result)
evs = explained_variance_score(y_train, result)

print("Mean_absolute_error: ", mae)
print("Mean_squared_error: ", mse)
print("Explained_variance_score: ", evs)

Mean_absolute_error:  1.2448064755939739e-14
Mean_squared_error:  2.3314575190430874e-28
Explained_variance_score:  1.0